<div class="page-header row">
	<h1 class="col-md-12">{{ image.title }}</h1>
</div>

<div class="row">
	<a href="{{image.target}}" target="_blank">
		<img ng-src="{{image.url}}" class="img-thumbnail" alt="mock image">
	</a>
</div>
<div class="row">
<label>Description: </label><br/>
<textarea class="textarea" type="textarea" maxlength="250" 
			id="description"
			style="width: 250px; height: 150px;"
			ng-model="image.description" required></textarea>
</div>
<div class="row">
	<label>Stars: </label>
	 <select ng-model="image.stars" >
		<option value="5">5 Stars</option>
		<option value="4">4 Stars</option>
		<option value="3">3 Stars</option>
		<option value="2">2 Stars</option>
		<option value="1">1 Stars</option>
	</select> 
</div>

<div class="row">
	<label>Client id: </label>
	<input type="text"  ng-model="image.clientId" required/>
</div>